@charset "UTF-8";
/* Body */
body {
	padding-left: 10px;
	padding-right: 10px;
    background-color: #FFFFFF;
    margin: 0;
    color: #000000;
}
/* Menu */
#menuresponsivo {
	display: none;
}

#menu {
	
	overflow: hidden;
	width: 100%;
	background: #FFFFFF;
}
#menu ul {
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  
}

#menu img {
	height: 100px;	
}

#menu ul li {
    display: inline;
	padding-left: 50px;
   
}
#menu ul li a {
	color:#000000;
	text-decoration: none;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
}

#menu ul li .active {
	font-weight: 600;
}

/* Container SUP */

.containerall {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;	
}

 .containerme {
    height: 450px;
	width: 100%;
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
}

.column_ft {
	width: 45%;
    text-align: center;
	height:450px;
    float: left;
    color: #FFFFFF;
}

.column_txt {
    width: 55%;
    height: 450px;
    text-align: left;
    float: right;
    color: #FFFFFF;
}
.column_txt h2 {
	font-size: 18pt;
	padding-right: 30px;
	padding-left: 150px;
	font-size: 16pt;
	line-height: 22pt;
	color: #FFFFFF;
}

.column_txt h1 {
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60pt;
	line-height: 10px;
	text-align: left;
	font-variant-caps:small-caps;
	color: #FFFFFF;
}
h4 {
	font-family: lemonde-journal, serif;
    font-weight: 400;
    font-style: normal;
	color:#3a3a3a;
}
h2 {
	font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #3a3a3a;
}
.containerbox {
	
	overflow: hidden;
	width: 100%;
    background-color: #E3EEF0;
    clear: both;
	padding-bottom: 30px;
}
.textme{
    float: left;
	width: 50%;
    height: auto;
}
.textme h4 {
	font-size: 16pt;
	line-height: 24pt;
	text-align: justify;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
	width: 90%;
	color: #4d4d4d;
}
.moodme {
	height: auto;
    width: 50%;
    color: #000000;
	float: right;
	margin-bottom: 20px;
}

.moodme img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 100px;
	width: 90%;
}
/* Gallery */


.containerimg {
	margin-bottom: 30px;
	display: block;
	
	}


.gallery {
	padding-top: 70px;
	margin: auto;
	max-width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.image_box {
	cursor: pointer;
	max-width: 45%;
	min-width: 300px;
	padding-bottom: 50px;
	
}

.image_img {
	width: 100%;
	
}

.image_description h4 { 
    font-size: 16pt;
	font-weight: 700;
	text-decoration: none;
	line-height: 16pt;
	text-align: left;
	width: 70%;
	padding-left: 5%;
	margin: 4pt;
}

.image_description p {
	font-size: 12pt;
	font-family: lemonde-journal, serif;
    font-weight: 400;
    font-style: normal;
	color:#3a3a3a;
	margin-top: 0;
	width: 70%;
	padding-left: 5%;
}

/* BLOG */

/* Container INF */

.copyright {
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    color: #000000;
    letter-spacing: 2px;
    border-top-width: 2px;
    clear: both;
	font-size: 10pt;
    font-style: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.copyright p {
	text-align: center;
}
.copyright a {
	text-align: center;
	color:#000000;
}

/* Mobile */
@media (max-width: 700px) {

#menu {
	display: flex;
}

#menu .logo {
	height: 60px;
	margin-top: 0px;
	}
#menu ul {
	display: flex;
	padding-left: 0%;
	}

#menu ul li {
	display: none;
}

#menuresponsivo {
	display: flex;
	padding-left: 30px;
	float: right;
}

#menuresponsivo img {
	height: 35px;
	padding-left: 20px;
	
}


	/* Container SUP mobile */

.containerall {
	width: 100%;
	display: block;	
	overflow: hidden;
}
.containerme {
	margin-top: 10px;
	padding-top: 10px;
	overflow: hidden;
	width: 100%;
    background-color: #000000;   
}
.column_ft {
	margin-top: auto;
	width: 100%;
    color: #FFFFFF;
}
.column_ft img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.column_txt {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 90%;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
}
.column_txt h1 {
	font-size: 25pt;
	}
.column_txt h2 {
	display: none;
}
.containerbox {
	overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #E3EEF0;
    clear: both;
}
.textme{
    width: 100%;
    height: auto;
    text-align: left;
    color: #000000;
    float: left;
    padding-right: 0px;
	padding-top: 0px;
}
.textme h2 {
	font-size: 12pt;
	line-height: 15pt;
}
.moodme {
	height: auto;
    width: 100%;
    color: #000000;
	float: right;
	margin-bottom: 20px;
}
.moodme img {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0px;
}
.copyright {
	padding-top: 20px;
    padding-bottom: 20px;
	font-size: 8pt;
}

/* Gallery */



.gallery {
	padding-top: 70px;
	margin: auto;
	max-width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.image_box {
	margin: auto;
	cursor: pointer;
	max-width: 47%;
	min-width: 300px;
	padding-bottom: 30px;

}

.image_img {
	object-fit: cover;
	height: 200px;
	width: 100%;
	
}

.image_description h4 { 
    font-size: 14pt;
}

.image_description p {
	font-size: 11pt;
	width: 90%;

}

}
/* small tablets*/

@media (min-width : 700px ) and ( max-width : 900px ){

.containerall {
	width: 90%;
}
#menu ul {
	padding-left: 5%;
  }
#menu img {
	height: 80px;
	}
.containerme {
	margin-top: 10px;
	}
.column_txt h1 {
	font-size: 35pt;
	}
.column_txt h2 {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12pt;
}
.column_txt h4 {
	font-size: 18pt;
	}
.containerbox {
	overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #E3EEF0;
    clear: both;
}
.textme{
    width: 100%;
    height: auto;
    text-align: left;
    color: #000000;
    float: left;
    padding-right: 0px;
	padding-top: 0px;
}
.textme h2 {
	font-size: 14pt;
	line-height: 18pt;
}
.moodme {
	height: auto;
    width: 100%;
    color: #000000;
	float: right;
	margin-bottom: 20px;
}
.moodme img {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0px;
}
}
@media (min-width : 900px ) and ( max-width : 1096px ){

	#menu ul {
		padding-left: 10%;
	  }
	#menu img {
		height: 80px;
		}
	.containerme {
		margin-top: 10px;
		}
	.column_txt h1 {
		font-size: 40pt;
		}
	.column_txt h2 {
		padding-right: 8px;
		padding-left: 0px;
	}
	.textme h2 {
			font-size: 14pt;
			line-height: 18pt;
		}
	}
@media ( min-width : 1096px ) and (max-width : 1920px ){
	
.containerme {
	margin-top: 10px;
	}
.column_txt h1 {
	font-size: 45pt;
	}
.column_txt h2 {
	padding-right: 10px;
	padding-left: 0px;
}
}
