@charset "UTF-8";

 .boxintro {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.boxintro img {
    height: 400px;
    padding-left: 10%;
    padding-right: 5%;
    display: block;
    float: left;
}

.boxintro h2 {
    display: block;
    padding-top: 30px;
    margin-right: 10%;
    margin-left: auto;
    width: 50%;
    float: right;  
}
 h2 {
    font-size: 12pt;
    color: #3a3a3a;
    font-weight: 400;
    line-height: 22pt;
	text-align: justify;
}

.boxweb {
    overflow: hidden;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.ondechoveweb {
    width: 100%;
}

.wiretext h2{
    width: 60%;
    float: right;
    display: block;
    margin: 30px auto 30px auto;
}

.wiretext {
    display: block;
    align-items: center;
    overflow: hidden;
}

.wireframes {
    width: 40%;
    float: left;
    margin: auto;
}

.boxapp {
    overflow: hidden;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.boxapp h2{
    width: 60%;
    display: block;
    float: right;
    margin: 30px auto 30px auto;
}
.telas {
    width: 100%;
}