@charset "UTF-8";

.boxintro {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

.columnimg {
    float: left;
    width: 40%;
}

.imgondechove {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.resumeondechove {
    padding-top: 30px;
    width: 60%;
    float: right;
    
}
 h2 {
    font-size: 14pt;
    color: #3a3a3a;
    font-weight: 400;
    line-height: 22pt;
	text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: 20%;
}

.boxweb {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.ondechoveweb {
    width: 100%;
}