@charset "UTF-8";
/* Body */
body {
	padding-left: 10px;
	padding-right: 10px;
    background-color: #FFFFFF;
    margin: 0;
    color: #000000;
}
/* Menu */

input {
    display: none;
}    
#menu {
	overflow: hidden;
	position: fixed;
	width: 100%;
	background: #FFFFFF;
	
}
#menu ul {
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
}
.btmenu {
	display: none;
}
#menu img {
	height: 100px;	
}

#menu ul li {
    display: inline;
	padding-left: 50px;
   
}
#menu ul li a {
	color:#000000;
	text-decoration: none;
	font-family:"Futura PT Condensed";
	font-size: 20pt;
	font-weight: 500;
}

#menu ul li .active {
	text-decoration: underline;
}

/* Container SUP */

.containerall {
	width: 80%;
	padding-top: 100px;
	margin-right: auto;
	margin-left: auto;
	display: block;	
}
 .containerme {
    height: 450px;
	width: 100%;
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
}

.column_ft {
	width: 45%;
    text-align: center;
	height:450px;
    float: left;
    color: #FFFFFF;
	
}

.column_txt {
    width: 55%;
    height: 450px;
    text-align: left;
    float: right;
    color: #FFFFFF;
}
.column_txt h2 {
	padding-right: 30px;
	padding-left: 150px;
}

.column_txt h4 {
	padding-left: 330px;	
}

h1 {
	font-family:"bebas neue";
	font-weight: normal;
	font-size: 60pt;
	line-height: 10px;
	text-align: left;
	font-variant-caps:small-caps;
}
h4 {
	font-family:gibbs;
	font-size: 20pt;
	line-height: 5px;
	text-align: left;
	color: #FFFFFF;
	opacity: 1;
}
h2 {
    font-family:"gibbs light";
    font-size: 16pt;
    font-weight:lighter;
    text-align: left;
	line-height: 22pt;
	letter-spacing: 2px;
}

/* Container INF */

.containerbox {
	overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #E3EEF0;
    clear: both;
}
.textme{
    width: 50%;
    height: auto;
    text-align: left;
    color: #000000;
    float: left;
    padding-right: 0px;
	padding-top: 20px;
}
.textme h2 {
	padding-left: 60px;

}
.moodme {
	height: auto;
    width: 50%;
    color: #000000;
	float: right;
	padding-bottom: 50px;
}
.moodme img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 100px;
}
.copyright {
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    color: #000000;
    letter-spacing: 2px;
    border-top-width: 2px;
    clear: both;
	font-size: 10pt;
    font-style: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.copyright p {
	text-align: center;
}
.copyright a {
	text-align: center;
	color:#000000;
}

/* Mobile */
@media (max-width: 700px) {

#menu img {
	height: 60px;
	}
#menu ul {
	padding-left: 0%;
	  }
#menu ul li {
	display: none;
	}
.btburger {
	position: fixed;
	background: #FFFFFF;
    width: 40px;
	height: 40px;
	right: 30px;
	top: 30px;
	cursor: pointer;
	}		
.burger {
	position: relative;
	display: block;
	background: #000000;
	height: 6px;
	width: 40px;
    display: block;
	border-radius: 3px;
	
}
.burger::after, .burger::before  {
	content: '';
	width: 40px;
	height: 6px;
	background: #000000;
	display: block;
	position: absolute;
	border-radius: 3px;
}
.burger::after {
	top: 14px;
}
.burger::before {
	top: 28px;
}

input:checked ~ #menu{
    height: 100vh;
	transition: 5s;
	
}

input:checked ~ #menu ul li {
	
	position: absolute;
    padding-left:10px;
	display:list-item;
}
input:checked ~ #menu ul li a{
	display: block;
	padding-top: 50px;
}    


	/* Container SUP mobile */

.containerall {
	width: 100%;
	display: block;	
}
.containerme {
	margin-top: 10px;
	padding-top: 10px;
	overflow: hidden;
	width: 100%;
    background-color: #000000;   
}
.column_ft {
	margin-top: auto;
	width: 100%;
    color: #FFFFFF;
}
.column_ft img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.column_txt {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 90%;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
}
.column_txt h1 {
	font-size: 25pt;
	}
.column_txt h2 {
	display: none;
}
.column_txt h4 {
	font-size: 15pt;
	padding-left: 25%;
	padding-right: auto;
	text-align: left;
	}
.containerbox {
	overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #E3EEF0;
    clear: both;
}
.textme{
    width: 100%;
    height: auto;
    text-align: left;
    color: #000000;
    float: left;
    padding-right: 0px;
	padding-top: 0px;
}
.textme h2 {
	font-size: 12pt;
	padding-left: 10px;
	line-height: 15pt;
}
.moodme {
	height: auto;
    width: 100%;
    color: #000000;
	float: right;
	margin-bottom: 20px;
}
.moodme img {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0px;
}
.copyright {
	padding-top: 20px;
    padding-bottom: 20px;
	font-size: 8pt;
}
}
/* small tablets*/

@media (min-width : 700px ) and ( max-width : 1096px ){

.containerall {
	width: 100%;
}
#menu ul {
	padding-left: 0%;
  }
#menu img {
	height: 80px;
	}
.containerme {
	margin-top: 10px;
	}
.column_txt h1 {
	font-size: 30pt;
	}
.column_txt h2 {
	padding-right: 8px;
	padding-left: 0px;
	font-size: 14pt;
}
.column_txt h4 {
	font-size: 18pt;
	padding-left: 0px;
	padding-right: 40px;
	text-align: right;
	}
}
@media ( min-width : 1096px ) and (max-width : 1920px ){
	
.containerme {
	margin-top: 10px;
	}
.column_txt h1 {
	font-size: 40pt;
	}
.column_txt h2 {
	padding-right: 10px;
	padding-left: 0px;
	font-size: 14pt;
}
.column_txt h4 {
	font-size: 18pt;
	padding-left: 0px;
	padding-right: 40px;
	text-align: right;
	}
}
