@charset "UTF-8";

 .boxintro {
     padding-top: 50px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.boxintro img {
    width: 400px;
    padding-left: 5%;
    display: block;
    float: left;
}

.boxintro h2 {
    display: block;
    
    width: 45%;
    float: right; 
    padding-right: 5%; 
}
 h2 {
    font-size: 12pt;
    color: #3a3a3a;
    font-weight: 400;
    line-height: 22pt;
	text-align: justify;
}

.boxweb {
    
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
.grid1 {
    padding: 30px;
box-sizing: border-box;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: center;
column-gap: 20px;

}

.boximg {
    min-height: 200px;
        height: 290px;

}

.grid1 img {
    height: 100%;
    object-fit: cover;
}

.boxweb h2{
    width: 60%;
    float: right;
    display: block;
    margin: 30px auto 30px auto;
}
.ondechoveweb {
    width: 100%;
}

.wireframes {
    width: 50%;
    float: left;
}

.boxapp {
    overflow: hidden;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.boxapp h2{
    width: 60%;
    display: block;
    float: right;
    margin: 30px auto 30px auto;
}
.telas {
    width: 100%;
}